*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(230, 242, 246);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h1{
    text-align: center;
    font-size: 30px;
}

.navbar span{
    color: green;
}

@media screen and (max-width: 450px) {
    .navbar h1{
        font-size: 25px;
    }
}