.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 70px 50px 50px;
    grid-gap: 30px;
}

.carts-container{
    background-color: #70da7098;
    padding: 30px 10px 0px 30px;
}

.carts-container button{
    background-color: #0080003a;
    border: 2px solid #00800096;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-weight: 600;
}

.carts-container button:hover{
    background-color: #008000;
    color: white;
}

.buttons{
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .shop{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1050px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .products-container{
        grid-template-columns: 1fr;
    }
}