.core{
    background-color: #5becb58f;
}

.core-concepts{
    margin-top: 80px;
    padding: 30px 60px 60px 60px;
}

.core-concepts .core-concepts-one{
    margin-bottom: 30px;
}

.core-concepts-one li{
    margin: 8px;
}